.nav-bar{
    color: white;
    box-shadow: 0 10px 20px #73737347;
    background-image: linear-gradient(90deg, rgba(103,34,128,1) 0%, rgba(139,36,175,1) 48%, rgba(166,38,211,1) 100%);
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.nav-title{
    display: flex;
    align-items: center;
}

.nav-title > h1 {
    font-size: 1.25rem;
    margin-left: 10px;
}

.nav-title > img {
    height: 27px;
    width: 32px;
}

.nav-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-text-item{
    font-size: .75rem;
    font-weight: 500;
}

/* form section*/

.main{
    margin: 40px;
}

.form{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4vh;
    gap: 1vh;
}

.form-input-container{
    display: flex;
    flex-basis: 100%;
    gap: 1vh;
}

.input-box{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-lable{
    margin-bottom: 0.5vh;
    font-size: 1.125em;
}


.input-box > input {
    width: 100%;
    height: 3.5vh;
    font-family: "Karla", sans-serif;
    border-radius: 1vh;
    border: 1px solid #D1D5DB;
}

.input-box > input[type=text]:focus{
    outline: 2px solid rgb(217 110 255);
}

.input-box > input::placeholder{
    color: rgb(217 110 255);
    font-size: 1em;
    padding-left: 0.4vh;
}

.form-submit-button{
    flex-basis: 100%;
    height: 4vh;
    font-family: "Karla", sans-serif;
    font-size: 1em;
    border-radius: 1vh;
    border: none;
    background-image: linear-gradient(90deg, rgba(103,34,128,1) 0%, rgba(139,36,175,1) 48%, rgba(166,38,211,1) 100%);
    color: white;
    cursor: pointer;
}

.form-submit-button:active{
    transform: scale(0.97);
}

/* meme image */

.meme-img-section{
    position:relative;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.meme-img-section:focus-visible{
    outline: none;
}

.meme-img{
    max-width: 100%;
    max-height: 65vh;
}

.meme-img-section:hover{
    transform: scale(1.10);
}

.imgText{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

@media (max-width: 575px){
    .imgText{
        font-size: 0.80rem;
    }
}

.top{
    top: 0;
}

.bottome{
    bottom: 0;
}

/*  */

.download-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4vh;
}

.img-container{
    width: 100%;
    margin-top: 4vh;
}

.download-button{
    height: 4vh;
    font-family: "Karla", sans-serif;
    font-size: 1em;
    border-radius: 1vh;
    border: none;
    background-image: linear-gradient(90deg, rgba(103,34,128,1) 0%, rgba(139,36,175,1) 48%, rgba(166,38,211,1) 100%);
    color: white;
    cursor: pointer;
}